@import "tailwindcss";

@theme {
  /* Branding Colors */
  --color-crypto-bg: #0b0e11;      /* Deepest Background */
  --color-crypto-card: #181a20;    /* Card Surface */
  --color-crypto-gold: #f0b90b;    /* Action Gold */
  --color-crypto-green: #0ecb81;   /* Success Green */
  --color-crypto-red: #f6465d;     /* Alert Red */
  --color-crypto-border: #2b3139;  /* Divider Gray */
  
  /* Typography */
  --font-crypto: "Inter", "system-ui", sans-serif;
  --font-data: "JetBrains Mono", monospace;
}

@layer base {
  body {
    @apply bg-crypto-bg text-gray-200 antialiased font-crypto;
  }
}